<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Welcome to 3DS Social!</title>

        <link rel="stylesheet" href="/assets/landing.css">

        <meta property="og:title" content="Welcome to 3DS Social!" />
        <meta property="og:image" content="https://cloud.oscie.net/square.png">

        <style>
            @import url("https://cdn.jsdelivr.net/npm/@mdi/font@7.1.96/css/materialdesignicons.min.css");
        </style>
    </head>
    <body>

        <div class="container">

            <h1 class="center">Welcome to 3DS Social!</h1>

            <a class="extra-left-pad" href="/user/register">-> Register</a><br>
            <a class="extra-left-pad" href="/user/login">-> Login</a><br>
            <a class="extra-left-pad" href="/posts">-> Use as guest</a>

        </div>

        <br>

        <div class="container">
            <h2 class="center">What is 3DS Social?</h2>

            <ul>
                <li>3DS Social is a place to post photos of your gameplay.</li>
                <li>You can upload posts on a 3DS, and view posts anywhere else.</li>
                <li>Make an account to like a post or view anonymously.</li>
            </ul>
        </div>

        <p>Created using Flask and Python 3.10</p>

    </body>
</html>